# Path: .gitignore

# Python compilation files
__pycache__/
*.pyc

# System files (Mac/Windows)
.DS_Store
Thumbs.db

# IDE settings (Optional)
.vscode/
.idea/

/data/*

.cache

/release/

/sample_*.txt

# Logs
*.log

# Logging
/logs/*
!/logs/.gitkeep

/build/
/dist/

/tmp