# Path: .gitignore

# Python compilation files
__pycache__/
*.pyc

# System files (Mac/Windows)
.DS_Store
Thumbs.db

# IDE settings (Optional)
.vscode/
.idea/

/data/*

.cache

/release/

/sample_*.txt

# Logs
*.log

# Logging
/logs/*
!/logs/.gitkeep

/build/
/dist/

/tmp

# Generated Data Assets
/web/assets/books/*
/web/assets/sutta/
/web/assets/db/

.env_aliases

# Direnv
.direnv/
.envrc
