<div class="grammar-note-container">
    <table class="gn-table">
        <thead>
            <tr>
                <th class="gn-col-pos">POS</th>
                <th class="gn-col-gram">Grammar</th>
                <th class="gn-col-word">Word</th>
            </tr>
        </thead>
        <tbody>
            % for row in rows:
            <tr>
                <td class="gn-col-pos">${row['pos']}</td>
                <td class="gn-col-gram">${row['grammar']}</td>
                <td class="gn-col-word">${row['headword']}</td>
            </tr>
            % endfor
        </tbody>
    </table>
</div>