<div class='dpd_grammar_note'>
    <table class='grammar_dict'>
        <thead>
            <tr>
                <th id='col1'>pos ⇅</th>
                <th id='col2'>⇅</th>
                <th id='col3'>⇅</th>
                <th id='col4'>⇅</th>
                <th id='col5'></th>
                <th id='col6'>word ⇅</th>
            </tr>
        </thead>
        <tbody>
            % for row in rows:
                <tr>
                    <td><b>${row['pos']}</b></td>
                    
                    % if row['is_colspan']:
                        <td colspan='3'>${row['cells'][0]}</td>
                    % else:
                        % for cell in row['cells']:
                            <td>${cell}</td>
                        % endfor
                    % endif
                    
                    <td>of</td>
                    <td>${row['headword']}</td>
                </tr>
            % endfor
        </tbody>
    </table>
</div>