/* Path: web/assets/css/base/_animations.css */
@keyframes slideDown {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}

.static-fade-transition {
  transition: opacity 0.15s ease-in-out; /* Snappy Speed */
  opacity: 1;
}

.static-fade-out {
  opacity: 0 !important;
}