/* Path: web/assets/style.css */

/* --- 1. IMPORTS (Modules) - MUST BE FIRST --- */

/* Base */
@import "css/base/_variables.css";
@import "css/base/_reset.css";
@import "css/base/_animations.css";

/* Layout */
@import "css/layout/_header.css";
@import "css/layout/_drawer.css";
@import "css/layout/_container.css";

/* Components */
@import "css/components/_buttons.css";
@import "css/components/_sutta_text.css";
@import "css/components/_navigation.css";
@import "css/components/_cards.css";
@import "css/components/_popup.css";
@import "css/components/_toh.css";
@import "css/components/_magic_nav.css";
@import "css/components/_misc.css";