/* Path: web/assets/style.css */

/* --- 1. IMPORTS (Modules) - MUST BE FIRST --- */

/* Base */
@import "css/base/_variables.css";
@import "css/base/_reset.css";
@import "css/base/_animations.css";

/* Layout */
@import "css/layout/_header.css";
@import "css/layout/_container.css";

/* Drawer Modules */
@import "css/layout/drawer/_drawer_container.css";
@import "css/layout/drawer/_drawer_filters.css";
@import "css/layout/drawer/_drawer_footer.css";

/* Components */
@import "css/components/_buttons.css";
@import "css/components/_sutta_text.css";
@import "css/components/_navigation.css";
@import "css/components/_cards.css";
@import "css/components/_popup.css";
@import "css/components/_toh.css";
@import "css/components/_splash.css";
@import "css/components/_loader.css";
@import "css/components/_tts.css"; /* [NEW] TTS Styles */

/* Magic Nav */
@import "css/components/magic_nav/_magic_nav_layout.css";
@import "css/components/magic_nav/_magic_nav_trigger_buttons.css";
@import "css/components/magic_nav/_magic_nav_breadcrumb_bar.css";
@import "css/components/magic_nav/_magic_nav_toc_tree_drawer.css";

@import "css/components/_misc.css";